<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
    <link rel="stylesheet" href="static/css/addExpense.css">
    <link rel="stylesheet" href="static/css/header.css">
    <title>Confirm Update</title>

</head>

<body>
    <header class="hero">
        <div class="hero-content">
            <h1>Expense Tracker</h1>
            <!-- <p>Take control of your finances with our easy-to-use expense tracker.</p> -->
        </div>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view_expense">View Expenses</a></li>
                <li><a href="/visualization">View Visualization</a></li>
                <li><a href="/planning">Planning</a></li> <!-- Added Planning Link -->
                <li class="dropdown">
                    {% if username %}
                    <span class="profile-icon">&#128100;</span> <!-- Profile icon -->
                    <span class="current-user">{{ username }}</span>
                    <div class="dropdown-content">
                        <a href="/logout" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="flashes"
            style="color: rgb(74, 74, 191); width: 100%;font-size: larger; list-style-type: none; text-align: center;">
            {% for category, message in messages %}
            <li class="flash {{ category }}" style="text-decoration: none;">{{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <section class="table-parent">
            <h1>Existing Expenses</h1>
            <table>
                <tr>
                    <th>Salary</th>
                    <th>Food Expenses</th>
                    <th>Travel Expenses</th>
                    <th>Accommodation</th>
                    <th>Other Expenses</th>
                    <th>Date</th>
                    <th>Savings</th>
                </tr>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.salary }}</td>
                    <td>{{ expense.food_expenses }}</td>
                    <td>{{ expense.travel_expenses }}</td>
                    <td>{{ expense.accommodation }}</td>
                    <td>{{ expense.other_expenses }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.savings }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <section>
            <section class="add-expense-form">
                <h2>Update your Expenses here</h2>
                <form action="{{ url_for('update_expense') }}" method="POST">
                    {% for expense in expenses %}
                    <div class="form-group">
                        <label for="salary">Salary:</label>
                        <input type="text" id="salary" name="salary" value="{{ expense.salary }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="food_expenses">Food Expenses:</label>
                        <input type="text" id="food_expenses" name="food_expenses"
                            value="{{ expense.food_expenses }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="travel_expenses">Travel Expenses:</label>
                        <input type="text" id="travel_expenses" name="travel_expenses"
                            value="{{ expense.travel_expenses }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="accommodation">Accommodation:</label>
                        <input type="text" id="accommodation" name="accommodation"
                            value="{{ expense.accommodation }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="other_expenses">Other Expenses:</label>
                        <input type="text" id="other_expenses" name="other_expenses"
                            value="{{ expense.other_expenses }}"><br>
                    </div>
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" value="{{ expense.date }}"><br>
                    </div>
                    <input type="hidden" name="expense_id" value="{{ expense.id }}">
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit" class="cancel" action="{{ url_for('view_expense') }}">Cancel
                            Update</button>
                        <button type="submit" class="update" action="{{ url_for('view_expense') }}">Update
                            Expenses</button>

                    </div>
                </form>
            </section>
        </section>
    </main>
</body>

</html>